.viewLink {
  text-decoration: none;
}

.viewLink:link {
  text-decoration: none;
}

.viewLink:visited {
  text-decoration: none;
  color: #ffff;
}

.cardButtonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
