.viewLink {
  text-decoration: none;
}

.viewLink:link {
  text-decoration: none;
}

.viewLink:visited {
  text-decoration: none;
  color: #ffff;
}

.cardButtonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.videoDetailsContainer {
  display: "flex";
  background-color: "#484d57";
  height: "50vh";
  width: 700;
  justify-content: "center";
  align-items: "flex-start";
  color: "#fff";
  border-radius: 10;
}

.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.divider {
  margin-top: 0;
  width: "100%" !important;
}

.divider::before,
.divider::after {
  top: 0% !important;
}
