footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8BC34A;
    color: #DCEDC8;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    
}

footer nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    list-style: none;
    justify-content:center;
    align-items: center;
}

footer nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
  
footer nav ul li a {
    display: inline-block;
    padding:1em;
    color:#fff;
    text-decoration: none;
}